body {
    font-family: sans-serif;
    background: linear-gradient(to bottom right, #c679fb, #e8c0e8);
    margin: 0;
    padding: 0;
  }
  
  .container {
    text-align: center;
    padding: 50px;
  }
  
  h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 40px;
  }
  
  .event-container {
    display: flex;
    justify-content: space-around;
  }
  
  .event {
    background-color: #9c88ff;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .event:hover {
    transform: scale(1.1);
  }
  
  h3 {
    color: #fff;
  }